In [5]:
tupla = (100,10,1) #Não consigo mudar os dados que estão aqui dentro uma vez que ele foi salvo. Entretanto, a tupla é mais rápida do que a lista.
print(tupla[0])
print(tupla[1])
print(tupla[2])

100
10
1

In [2]:
lista = [100, 10, 1]
print(lista[0])
print(lista[1])
print(lista[2])

100
10
1

In [7]:
tupla_tupla = (4,5,6), (7,8)
print(tupla_tupla[0][2]) #O primeiro numero é a tupla que eu quero pegar os dados e depois quais são as casas que eu quero tirar aqueles dados.
print(tupla_tupla[1][1])

for m in tupla_tupla:
    print(m)

6
8
(4, 5, 6)
(7, 8)

In [8]:
tupla = tuple(['foo', [1,2,3], True]) #Aqui eu posso ter varios formatos de informações
print(tupla)

('foo', [1, 2, 3], True)

In [9]:
#agora eu vou provar que não da para mudar os dados ali dentro

tupla[2] = False #Aqui ele vai dar um erro pois eu não posso mudar os dados.

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla[1].append(4) #Aqui eu estou adicionando o numero 4 na lista.
print(tupla)

In [10]:
tupla = tuple(['foo', [1,2,3], True]) 
print(tupla)

lista = list(tupla) #Aqui eu estou mudando uma tupla para uma lista.
print(lista)

lista.insert(0, 'fiap')
print(lista)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
['fiap', 'foo', [1, 2, 3], True]

In [20]:
tupla = tuple (['foo', [1,2,3], True])
print(tupla)

lista = list(tupla)
print(lista)

posicaoInsercao = lista.index('foo') + 1 #Index é a referência (Ou sejá, apartir de um casa eu vou querer inserir um cara) e o +1 é para adicionar um a frente da referência. 
lista.insert(posicaoInsercao, 'foo fighters')

tuplaNova = tuple(lista)
print(tuplaNova)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
('foo', 'foo fighters', [1, 2, 3], True)

In [21]:
tupla = tuple('string')
print(tupla)

('s', 't', 'r', 'i', 'n', 'g')

In [22]:
a = (4, None, 'foo') + (6, 0) + ('fiap', 1) #O "+"irá servir para concatenar
print(a)

(4, None, 'foo', 6, 0, 'fiap', 1)

In [23]:
tupla = (100, 1000, 10000) 
#Para dar nomes aos dados que estão dentro da tupla
a, b, c = tupla
print(a)
print(b)
print(c)

100
1000
10000

In [24]:
def nome_funcao(parametros):
    a = (20 + 50) / 2
    b = (20 + 50)
    return a, b
nome_funcao(0)

(35.0, 70)

In [31]:
#Crie uma tupla chamada "frutas" com os seguintes elementos: 'maçã', 'banana', 'laranja', 'uva'.
#Acessar o segundo elemento da tupla frutas
# Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada em uma nova variável chamada frutas_modificadas
#Concatene a tupla frutas_modificadas com a tupla ('abacaxi', 'limão') e armazene o resultado em uma nova tupla chamada frutas_concatenadas.
#Verifique se o elemento 'uva' está presente na tupla frutas_contatenadas.

frutas = ('maca', 'banana', 'laranja', 'uva')
print(frutas[1])

lista = list(frutas)
lista[2] = 'manga'
frutas_modificadas = tuple(lista)
print(frutas_modificadas)

tupla_outras = ('abacaxi', 'limão')

frutas_concatenadas = (frutas_modificadas + tupla_outras)
print(frutas_concatenadas)

if 'uva' in frutas_concatenadas:
    print("Verdadeiro")
else:
    print("Falso")

banana
('maca', 'banana', 'manga', 'uva')
('maca', 'banana', 'manga', 'uva', 'abacaxi', 'limão')
Verdadeiro

In [ ]:
#Crie um logaritmo para calcular a média dos alunos abaixo utilize estrutura de repetição e tuplas.

tupla_nomes = [('Laura', 85, 90, 88),('Paulo', 60, 75, 68),('Ana', 68, 80, 90),('Jose', 80, 90, 72)]

for i in tupla_nomes:
    nome, nota1, nota2, nota3 = i
    media = (nota1 + nota2 + nota3) / 3
    print(f"O aluno {nome} tem média {media}")

In [34]:
#Crie um programa que análise despesas. Utilize estruturas de repetição e tuplas.

# Viagens, 5000, 15000, 25000, 9800
# Restaurantes, 230, 100, 50, 415
# Transporte, 50, 15, 89, 115

despesas = [('Viagens', 5000, 15000, 25000, 9800), ('Restaurantes', 230, 100, 50, 415),('Transporte', 50, 15, 89, 115)]

for i in despesas:
    tipo_despesa, despesa1, despesa2, despesa3, despesa4 = i
    print(f"As despesas de {tipo_despesa} foi {despesa1}, {despesa2}, {despesa3}.")

As despesas de Viagens foi 5000, 15000, 25000.
As despesas de Restaurantes foi 230, 100, 50.
As despesas de Transporte foi 50, 15, 89.

In [35]:
#Crie um programa para catalogação de livros. Utilize estrutura de repetição e tuplas.

#livros = [
# ("Senhor dos Anéis", "J.R.R. Tolkien"), ("O Hobbit", "J.R.R tolkien"), ("1984" "George Orwell")]

livros =[
    ("O senhor dos Anéis", "J.R.R. Tolkien"),
    ("O Hobbit", "J.R.R. Tolkien")
]
for i in livros:
    nome_livro, nome_autor = i
    print(f"O livro {nome_livro} é o autor {nome_autor}")

O livro O senhor dos Anéis é o autor J.R.R. Tolkien
O livro O Hobbit é o autor J.R.R. Tolkien

In [42]:
estudantes = [
    { 'nome': 'Alice', 'age': 40},
    { 'nome': 'Bob', 'age': 37},
    { 'nome': 'Chris', 'age': 33},
    ]

In [43]:
import pandas as pd
dados = pd.DataFrame(estudantes) #Este cara vai transformar em uma tabela.
print(dados)

    nome  age
0  Alice   40
1    Bob   37
2  Chris   33