In [19]:
import pandas as pd

In [27]:
df_track = pd.read_csv(r'Track_202408231945.csv')

In [28]:
df_track.groupby('Name')['Milliseconds'].sum()

Name
"40"                                                           157962
"?"                                                           2782333
"Eine Kleine Nachtmusik" Serenade In G, K. 525: I. Allegro     348971
#1 Zero                                                        299102
#9 Dream                                                       278312
                                                               ...
É que Nessa Encarnação Eu Nasci Manga                          196519
Étude 1, In C Major - Preludio (Presto) - Liszt                 51780
Óculos                                                         219271
Óia Eu Aqui De Novo                                            219454
Último Pau-De-Arara                                            200437
Name: Milliseconds, Length: 3257, dtype: int64

In [29]:
df_track['Milliseconds'] #Aqui eu estou escolhendo somente uma dimenção.

0       343719
1       342562
2       230619
3       252051
4       375418
         ...
3498    286741
3499    139200
3500     66639
3501    221331
3502    206005
Name: Milliseconds, Length: 3503, dtype: int64

In [47]:
df_track

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,NaN,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,NaN,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [36]:
import numpy as np

In [37]:
vetor = np.array([10, 20, 30, 40, 50])

In [46]:
matriz_2d = np.array(([10, 20], [4, 5]))
matriz_2d

array([[10, 20],
       [ 4,  5]])

##### Estrutura unidimensionais - pandas sereis

In [50]:
s1 = pd.Series([10, 20, 30, 40, 50])
s2 = pd.Series([1, 2, 3, 4, 5])

s_soma = s1 + s2
s_sub = s1 - s2
s_mult = s1 * s2
s_div = s1/s2

print(s_soma)
print(s_sub)
print(s_mult)
print(s_div)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0     9
1    18
2    27
3    36
4    45
dtype: int64
0     10
1     40
2     90
3    160
4    250
dtype: int64
0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [53]:
s1 = pd.Series ([10, 20, 30, 40, 50], name = 'Serie 1')
s2 = pd.Series ([1, 2, 3, 4, 5], name = 'Serie 2')
print(s1)
print(s2)

0    10
1    20
2    30
3    40
4    50
Name: Serie 1, dtype: int64
0    1
1    2
2    3
3    4
4    5
Name: Serie 2, dtype: int64

In [52]:
df = pd.DataFrame({'Serie 1:' : s1, 'Serie 2: ' : s2}) #Transforma s2 e s1 em data frames
#Data frames é apenas para deixar com o formato parecido com tabela
df

   Serie 1:  Serie 2:
0        10          1
1        20          2
2        30          3
3        40          4
4        50          5

In [57]:
s1 = pd.Series ([10, 20, 30, 40, 50], name = 'Serie 1')
s2 = pd.Series ([1, 2, 3, 4, 5], name = 'Serie 2')
s3 = pd.Series (['A', 'B', 'C', 'B', 'A'], name = 'Serie 3')

df =pd.DataFrame({'Serie 1': s1, 'Serie 2': s2,'Serie 3': s3,})

df['soma'] = df['Serie 1'] + df['Serie 2'] #Aqui eu consigo calcular o que eu quiser e criar uma tabela com isso que eu fiz.
df['sub'] = df ['Serie 1'] - df['Serie 2']

df

   Serie 1  Serie 2 Serie 3  soma  sub
0       10        1       A    11    9
1       20        2       B    22   18
2       30        3       C    33   27
3       40        4       B    44   36
4       50        5       A    55   45

In [62]:
df.groupby('Serie 3')['soma'].max() #Valor máximo.
df.groupby('Serie 3')['soma'].min() #Valor mínimo.
df_media = df.groupby('Serie 3')['soma'].mean() #Média.
df.groupby('Serie 3')['soma'].median() #Aqui a mediana.
df.groupby('Serie 3')['soma'].std() #Aqui ele vai me mostrar o desvio padrão
#['soma'] é a coluna soma.

print(df_media)

Serie 3
A    33.0
B    33.0
C    33.0
Name: soma, dtype: float64